.modal{
	background: #3835356b;
}
.DateWiseLogsModal{
    width: 75%;
	left: 25%;
   .modal-content{
        background-color: #f2f5f8;
		.user_img{
			.profile-image-span{
			    width:35px;
				height:35px;
			}
		}
          .timelog_tab {
	          ul {
			    justify-content: flex-end;
			}
          }

          .tab_wrap .nav-tabs .nav-link.active, .timelog_tab .nav-tabs .nav-link.active {
              border: none;
		    border-bottom: 2px solid #28a8e2;
		    color: #28a8e2;
		}
		table {
		     thead {

		         

			     tr {
				     background-color: #f2f5f8;
				     th {
			             background: transparent;
			             font-weight: 600;
			             color: #564f4f;
			          }
				}
		     }
		     tbody{
		       td{
		         min-height: 50px;
		         color: #564f4f;
		       }
		     }

		}
   }
   
     
	
}
.MuiDateRangeCalendar-root div:nth-of-type(0){
	display: none;
}
*, :after, :before {
    border-color: #c9e9f8;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}
@media (min-width:576px) and (max-width:767px){
	.DateWiseLogsModal{
		width:85%;
		left:15%;
	}
}
@media (max-width:767px){
	.DateWiseLogsModal{
		width: 75%;
		left: 25%;
	   .modal-content{
			.user_img{
				.profile-image-span{
					width:28px;
					height:28px;
						span{
							font-size:16px;
						}
				}
			}
		}
	   
	}
}
@media (max-width:576px){
	.DateWiseLogsModal{
		width:85%;
		left:15%;
	}
}