.mainfooter{
    * {font-family: var(--font-family);}
    background-color: #F8F9FB;
    padding: 20px 0;
    span {
        font-size: 12px;
        line-height: 120%;
        color: #18181966;

    }
}