.comment-textarea {
    display: flex;
    gap: 1px;
    justify-content: center;
    align-items: center;
    .user-image{
        width: 40px;
        height: 40px;
    }
    .profile-image-span{
      width: 42px;
    }
    textarea {
        width: 100%;
        height: 50px;
        padding: 10px;
        border-radius: 4px;
        border: 2px solid #28A8E2;
        
        &:focus-visible, &:focus, &:active {
            border: 1px solid #28A8E2;
            outline: none;
        }
    }
}
.main-comments::-webkit-scrollbar{
  width:7px;
  height:8px;
}
.main-comments::-webkit-scrollbar-track{
  box-shadow:inset 0 0 5px grey; 
  border-radius:10px;
}
.main-comments::-webkit-scrollbar-thumb{
  background-color:#28A8E2; 
  border-radius:10px;
}

.main-comments {
    margin-top: 11px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

  .comments-data {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    margin: 0px auto;
    font-family: Arial, sans-serif;
    width: 100%;
    .comments-header {

      .description {
        font-size: 16px;
        color: #333;
        margin-bottom: 10px;
      }

      .d-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-info {
          display: flex;
          align-items: center;

          .user-image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
          }

          .user-name {
            font-size: 14px;
            color: #555;
          }
        }

        .created-time {
          font-size: 12px;
          color: #777;
        }
      }
    }
  }
    .me {
        background-color: #2497cb0f !important;
        color: #fff;
        margin-right: 0 !important;
    }
}
