.modal{
	background: #3835356b;
}
.WorkingLogsModal{
	.modal-headers{
		h3{
			font-size:1.5rem;
		}
		.timelog_overviewk b {
			font-size:13px !important;
			color:#28a8e2;
		}
	}
   .modal-content{
        background-color: #f2f5f8;
          .timelog_tab {
	          ul {
			    justify-content: flex-end;
				li a{
					width:120px;
					padding:15px 0px;
					text-align:center;
				}
			}
          }

          .tab_wrap .nav-tabs .nav-link.active, .timelog_tab .nav-tabs .nav-link.active {
				border:none;
				border-bottom:2px solid #28a8e2;
				color: #28a8e2;
			}
			.tab_wrap .nav-tabs .nav-link{
				width:120px;
				padding:15px;
				text-align:center;
			}
		table {
		     thead {

		         

			     tr {
				     background-color: #f2f5f8;
				     th {
			             background: transparent;
			             font-weight: 600;
			             color: #564f4f;
						 font-size:14px;
			          }
				}
		     }
		     tbody{
		     	 tr{
		     	 	cursor:pointer;
					&:last-child{
						td{
							border-bottom:none !important;
						}
					}
		     	 }
		       td{
		         min-height: 50px;
		         color: #564f4f;
				 font-size:14px;
		       }
		     }

		}
   }
     
	
}
.MuiDateRangeCalendar-root div:nth-of-type(0){
	display: none;
}
*, :after, :before {
    border-color: #c9e9f8;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}
.time_logwrap .ZjGfQ {
    color: #4f4f4f!important;
}
@media  (min-width:768px) and (max-width:991px){
	.WorkingLogsModal{
		.modal-headers{
			h3{
				font-size:1.3rem;
			}
			.timelog_overviewk b {
				font-size:12px !important;
			}
		}
	   .modal-content{
			  .timelog_tab {
				  ul {
					li a{
						width:110px;
						padding:15px 10px;
					}
				}
			  }
		}
		 
		
	}
}
@media  (min-width:576px) and (max-width:767px){
	.WorkingLogsModal{
		width:90%;
		left:10.2%;
	   .modal-content{
			  .timelog_tab {
				  ul {
					li a{
						width:109px;
						padding:15px 8px;
					}
				}
			  }
			table thead tr th{
				padding-left:8px !important;
				padding-right:8px !important;
			}
		}
		 
		
	}
}
@media  (max-width:767px){
	.WorkingLogsModal {
		.modal-headers{
			h3{
				font-size:1.1rem;
			}
			.timelog_overviewk b {
				font-size:12px !important;
			}
		}
		.modal-content {
			.modal-header {
				width:35px;
				left:-37px;
				padding:2px 4px 2px 4px !important;
				.custom-close-btn {
					svg{
						font-size:20px !important;
					}
				}
			} 
		}
	}
	
	.tab-content{
		.timelog_data_info{ 
			overflow-x:auto;
		}
	}
}
@media  (max-width:575px){
	.WorkingLogsModal {
		.modal-content {
			.timelog_tab {
				ul {
					justify-content:center;
					flex-direction:column;
					li a{
						width:100%;
					}
				}
			}
			table{
				thead{
					tr th{
						font-size:12px;
					}
				}
				tbody{
					td{
						font-size:12px;
					}
				}
			}
		}
	}
}